{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>
                            Olá, {{user}}.
                        </p>
                        <p>
                            Você está recebendo este e-mail porque identificamos que você possui um
                            cadastro de agente
                            individual no {{siteName}}, porém seu cadastro estava vinculado ao usuário
                            {{oldUser}}.
                        </p>
                        <p>
                            Para atender à LGPD, criamos uma nova conta que permitirá que você acesse
                            seu cadastro sem
                            depender do usuário {{oldUser}}.
                        </p>
                        <p>
                            Para finalizar o processo, enviamos uma solicitação de autorização para o
                            antigo usuário, a
                            fim de que ele aprove a desvinculação do seu agente, permitindo que você
                            tenha acesso
                            ativado.
                        </p>
                        <p>
                            Solicitamos que clique neste link e crie uma senha. Assim que o antigo
                            usuário aceitar a
                            solicitação, você poderá acessar sua conta com seu e-mail e a senha
                            fornecida aqui.
                        </p>
                        <p>
                            <a href="{{urlRecovery}}">
                                <div class="status-card status-0">
                                    <h2 class="status-card--title">Clique aqui para recuperar sua senha</h2>
                                </div>
                            </a>
                        </p>
                        <p>
                            Desde já, agradecemos.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}